<div class="dna" id="dna">
    <div class="ele" [ngClass]="isPaused ? 'paused':''"></div>
    <div class="ele" [ngClass]="isPaused ? 'paused':''"></div>
    <div class="ele" [ngClass]="isPaused ? 'paused':''"></div>
    <div class="ele" [ngClass]="isPaused ? 'paused':''"></div>
    <div class="ele" [ngClass]="isPaused ? 'paused':''"></div>
    <div class="ele" [ngClass]="isPaused ? 'paused':''"></div>
    <div class="ele" [ngClass]="isPaused ? 'paused':''"></div>
    <div class="ele" [ngClass]="isPaused ? 'paused':''"></div>
    <div class="ele" [ngClass]="isPaused ? 'paused':''"></div>
    <div class="ele" [ngClass]="isPaused ? 'paused':''"></div>
    <div class="ele" [ngClass]="isPaused ? 'paused':''"></div>
    <div class="ele" [ngClass]="isPaused ? 'paused':''"></div>
    <div class="ele" [ngClass]="isPaused ? 'paused':''"></div>
    <div class="ele" [ngClass]="isPaused ? 'paused':''"></div>
    <div class="ele" [ngClass]="isPaused ? 'paused':''"></div>
    <div class="ele" [ngClass]="isPaused ? 'paused':''"></div>
    <div class="ele" [ngClass]="isPaused ? 'paused':''"></div>
    <div class="ele" [ngClass]="isPaused ? 'paused':''"></div>
    <div class="ele" [ngClass]="isPaused ? 'paused':''"></div>
    <div class="ele" [ngClass]="isPaused ? 'paused':''"></div>
  </div>